body {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #7aa19f;
    margin: 10px 0;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: #555555 1px solid;

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: #7aa19f;
}

.contact {
    text-decoration: none;
}